body{
    background: rgb(38, 38, 51);
}
.basic-container{
    background: rgb(224, 224, 224);
    color:dimgrey;
}
.intro-container{
    background: rgb(224, 224, 224);
    color:dimgrey;
    height: 300px;
}
.intro-image-border{
    height: 250;
    width: 200;
    border-width: 10px;
    border-style: solid;
    border-color: black;
}
.spacer{
    background: rgb(17, 2, 27);
    margin-top: 40px;
    padding: 40px;
    border-color: rgb(17, 2, 27);
    
}
.headerspacer{
    background: rgb(44, 26, 10);
    margin-top: 40px;
    padding: 40px;
    
}
.footerspacer{
    background: rgb(0, 0, 0);
    margin-top: 40px;
    padding: 40px;
}