body{
    background: rgb(38, 38, 51);
}
.red{
    background: red;
}
.spacer{
    background: rgb(17, 2, 27);
    margin-top: 40px;
    padding: 40px;
    border-color: rgb(17, 2, 27);
    
}
.headerspace{
    background: rgb(44, 26, 10);
    margin-top: 40px;
    padding: 40px;
    
}
.footerspace{
    background: rgb(0, 0, 0);
    margin-top: 40px;
    padding: 40px;
}