body{
    background: rgb(38, 38, 51);
}
.basic-container{
    background: rgb(224, 224, 224);
    color:dimgrey;
}
.intro-container{
    background: rgb(224, 224, 224);
    color:dimgrey;
    height: 300px;
    max-width: 900px;
    border-width: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin-top: 60px;
}
.intro-image-border{
    margin-top: 20px;
    border-width: 10px;
    border-style:double;
    border-color: black;
    background: rgb(224, 224, 224);
    color:dimgrey;
    border-radius: 0px;
}
.game-container{
    border-width: 10px;
    border-style: solid;
    border-color: rgb(22, 20, 23);
    border-radius: 10px;
}
.game-column-extender{
    height: 300px;
    border-width: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}
.game-image-border{
    margin-top: 20px;
    border-width: 10px;
    border-style:groove;
    border-color: rgb(13, 0, 23);
    background: rgb(224, 224, 224);
    color:dimgrey;
    border-radius: 0px;
}
.spacer{
    background: rgb(17, 2, 27);
    margin-top: 40px;
    padding: 40px;
    border-color: rgb(17, 2, 27);
    
}
.head-spacer{
    background: rgb(17, 2, 27);
    margin-top: 0px;
    margin-bottom: 80px;
    padding: 40px;
    height: 120px;
}
.foot-spacer{
    background: rgb(17, 2, 27);
    margin-top: 40px;
    padding: 40px;
    height: 120px;
}
.fixed-footer-bar{
    background: black;
    height: 120px;
}
.contact-me-button{
    color:black;
    margin-top: 40px;
}
.description{
    color: black;
}
.description-white{
    color: white;
}
.contact-me-form{
    min-width: 500px;
    max-width: 600px;
    background: rgb(224, 224, 224);
    color:dimgrey;
    height: 300px;
    border-width: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin-top: 60px;
}
.modal-contact-me-form{
    min-width: 400px;
    max-width: 500px;
    background: rgb(224, 224, 224);
    color:dimgrey;
    height: 300px;
    border-width: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin-top: 60px;
}